[submodule "libflatsurf/test/external/cereal"]
	path = libflatsurf/test/external/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libflatsurf/test/external/catch2"]
	path = libflatsurf/test/external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "libflatsurf/src/external/gmpxxll"]
	path = libflatsurf/src/external/gmpxxll
	url = https://github.com/flatsurf/gmpxxll.git
[submodule "libflatsurf/src/external/rx-ranges"]
	path = libflatsurf/src/external/rx-ranges
	url = https://github.com/simonask/rx-ranges
[submodule "libflatsurf/flatsurf/external/spimpl"]
	path = libflatsurf/flatsurf/external/spimpl
	url = https://github.com/oliora/samples.git
[submodule "libflatsurf/src/external/sigslot"]
	path = libflatsurf/src/external/sigslot
	url = https://github.com/palacaze/sigslot.git
