name: Benchmark
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: benchmark-${{ github.ref }}
  cancel-in-progress: true

jobs:
  asv:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
      with: { submodules: recursive, fetch-depth: 0 }
    - uses: prefix-dev/setup-pixi@v0.9.3
      with: { pixi-version: v0.53.0, environments: dev, activate-environment: true }
    - name: Checkout historic performance data
      uses: actions/checkout@v6
      with: { path: .asv/results, ref: asv }
    - name: Setup ASV configuration
      run: |
        export PYTHONUNBUFFERED=1

        cat <<EOF > ~/.asv-machine.json
        {
            "azure": {
                "arch": "x86_64",
                "cpu": "Standard_DS2_v2",
                "machine": "Azure",
                "os": "Linux",
                "ram": "61830880"
            },
            "version": 1
        }
        EOF
    - name: Setup repository
      run: |
        # ASV will run benchmarks on the HEAD of master. So we need to pretend that this is where we are at the moment.
        git checkout -b master || true
    - name: Build benchmarks
      run: pixi run build-libflatsurf
    - name: Run benchmarks
      run: asv run -v --machine=azure --python=same
    - name: Rerender GitHub Pages
      run: asv publish --no-pull --verbose --html-dir .asv/html
    - name: Update historic performance data
      uses: EndBug/add-and-commit@v9
      with:
        author_name: asv bot
        author_email: bot@flatsurf.org
        message: 'record asv run'
        cwd: .asv/results
        branch: asv
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      if: ${{ github.event_name == 'push' }}
    - uses: JamesIves/github-pages-deploy-action@v4.7.4
      with:
        branch: gh-pages
        folder: .asv/html
        target-folder: asv
      if: ${{ github.event_name == 'push' }}
    - uses: flatsurf/actions/show-logs@main
      if: ${{ always() }}
