name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.on }}
    strategy:
      matrix:
        include:
        - { task: "test-libflatsurf", environment: "flint-2", on: "ubuntu-24.04" }
        - { task: "test-libflatsurf", environment: "flint-2", on: "macos-14" }
        - { task: "test-libflatsurf", environment: "flint-2", on: "macos-14" }
        - { task: "test-libflatsurf", environment: "flint-3", on: "ubuntu-24.04" }
        - { task: "test-libflatsurf", environment: "flint-3", on: "macos-15-intel" }
        - { task: "test-libflatsurf", environment: "flint-3", on: "macos-14" }
        - { task: "test-libflatsurf-valgrind", environment: "dev", on: "ubuntu-24.04" }
        - { task: "test-pyflatsurf", environment: "flint-2", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyflatsurf", environment: "flint-2", on: "macos-15-intel" }
        - { task: "test-pyflatsurf", environment: "flint-3", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "test-pyflatsurf", environment: "flint-3", on: "macos-15-intel" }
        - { task: "test-pyflatsurf", environment: "flint-3", on: "macos-14" }
        - { task: "test-pyflatsurf-valgrind", environment: "dev", on: "ubuntu-24.04" }
        - { task: "distcheck", environment: "dev", on: "ubuntu-24.04" }
        # The latest build of cppyy-cling is not compatible with the xcode that comes with macos 15 yet.
        # There is no runner available on GitHub anymore that supports a sufficiently old xcode.
        # - { task: "distcheck", environment: "dev", on: "macos-15-intel" }
        - { task: "distcheck", environment: "dev", on: "macos-14" }
    steps:
      - uses: actions/checkout@v5
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.53.0 }
      - name: install valgrind dependencies
        run: |
          sudo apt update
          sudo apt install -y libc6-dbg
        if: endsWith(matrix.task || '', 'valgrind')
      - name: run ${{ matrix.task }}
        run: pixi run -e ${{ matrix.environment }} ${{ matrix.task }}
      - uses: flatsurf/actions/show-logs@main
        if: ${{ always() }}
